@import "tailwindcss";

/* :root {
  --background: #141518;
  --background-foreground: #faf3dc;
  --primary: #facc15;
  --primary-foreground: #141518;
  --primary-hover: #c8a001;
  --secondary: #1a1b1f;
  --secondary-foreground: #faf3dc;
  --muted: #4e525b;
  --muted-foreground: #26272b;
  --price: #efa48b;
  --price-foreground: #141518;
  --destructive: #ef4444;
  --destructive-foreground: #faf3dc;
  --border: #838896;
  --input: #26272b;
  --gray-1: #26272b;
  --gray-2: #4e525b;
  --gray-3: #838896;
  --gray-4: #bebbbb;
  --gray-5: #d8d4d4;
  --bg-dark: #0d0e10;
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-background-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-price: var(--price);
  --color-price-foreground: var(--price-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);

  --color-bg-dark: var(--bg-dark);
} */
